/* ヘッダーとヘッダーメニュー */
* {
    box-sizing: border-box;
    font-family: 'Noto Sans JP';
    color: #303030;
}

header {
    width: 100%;
    padding: 20px 40px 20px;
    background-color: #fff;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px rgba(0,0,0,.05);
}

h1 {
    margin: 0; padding: 0;
    font-size: 20px;
}

.topmenu-text {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
}

li {
    margin: 0 0 0 15px;
    font-size: 20px;
}

nav {
    margin: 0 0 0 auto;
}

body {
    padding: 69px 0 0;
}

.content {
    padding: 0 15% 0;
}

h2 {
    padding: 5px 15px 10px;
    border-left: 3px solid #303030;
}

h3 {

}